apiVersion: v1
kind: Secret
metadata:
  name: nex-application-repo
  namespace: {{ argocd_namespace }}
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: {{ argocd_repo_url }}
  username: {{ argocd_repo_username }}
  password: {{ argocd_repo_password }}
