# ansible.cfg
[defaults]
inventory = inventories
remote_user = ec2-user
private_key_file = ./secrets/id_rsa
host_key_checking = False
retry_files_enabled = False
forks = 20

[ssh_connection]
ssh_args = -o ForwardAgent=yes -o ControlMaster=auto -o ControlPath=/tmp/ansible-ssh-%h-%p-%r -o ControlPersist=60s
pipelining = True